<ion-view title="Cerdo" id="page7">
  <ion-content padding="true" class="has-header">
    <p>
      Precio por kilo
    </p>
    <ion-list id="cerdo-list6">
      <ion-item class="item-icon-left" id="cerdo-list-item10">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="cerdo-list-item13">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="cerdo-list-item14">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="cerdo-list-item15">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="cerdo-list-item12">
        <i class="icon ion-images"></i>Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>