<ion-view title="Embu" id="page9">
  <ion-content padding="true" class="has-header">
    <p>
      Precio por kilo
    </p>
    <ion-list id="embu-list5">
      <ion-item class="item-icon-left" id="embu-list-item6">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="embu-list-item9">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="embu-list-item8">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="embu-list-item7">
        <i class="icon ion-images"></i>Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>