<ion-view title="Pollo" id="page2">
  <ion-content padding="true" class="has-header">
    <p>
      Precio por kilo
    </p>
    <ion-list id="pollo-list8">
      <ion-item class="item-icon-left" id="pollo-list-item21">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="pollo-list-item22">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="pollo-list-item23">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="pollo-list-item24">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="pollo-list-item25">
        <i class="icon ion-images"></i>Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>