<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Vaca" icon="ion-ios-camera" href="#/page1/vaca" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Cerdo" icon="ion-ios-camera" href="#/page1/cerdo" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Pollo" icon="ion-ios-cart" href="#/page1/pollo" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Chori" icon="ion-ios-cloud" href="#/page1/chori" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Embu" icon="ion-ios-camera" href="#/page1/embutido" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>