<ion-view title="Vaca" id="page8">
  <ion-content padding="true" class="has-header">
    <p>
      Precio por kilo
    </p>
    <ion-list id="vaca-list4">
      <ion-item class="item-icon-left" id="vaca-list-item2">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="vaca-list-item5">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="vaca-list-item3">
        <i class="icon ion-images"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="vaca-list-item4">
        <i class="icon ion-images"></i>Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>